body{
    margin: 0px;
}

.banner{
    background-image: url(../images/zebra.jpg);
    height: 100vh;
    background-size: cover;
}

.d404{
    position: absolute;
    font-size: 200px;
    left: 10%;
    top: 2%;

}

.slogan{
    position: absolute;
    font-size: 35px;
    top: 40%;
    left: 10%;
}

.button{
    position: absolute;
    top: 58%;
    left: 35%;
    padding: 10px;
    border-radius: 10px;
}